<template>
  <div class="about">
    <h1>This is an about page</h1>
    {{ from.city }}
  </div>
</template>

<script>
import myStore from '@/store/myStore'

export default {
  data () {
    return myStore
  }
}
</script>
