<template>
  <v-layout>
    <v-flex xs6 sm5 md4 :style="{
      'height': 'calc(100vh - 64px - 36px)',
      'max-height': 'calc(100vh - 64px - 36px)',
      'overflow': 'auto'
    }">
    <MCAddress
      :address="from"
      label="From"
      @select="selectedAddress = from"
    />
    <MCAddress
      :address="to"
      label="To"
      @select="selectedAddress = to"
    />
    <MCAddressForm
      :address="selectedAddress"
      v-if="selectedAddress !== ''"
    />
    <v-btn @click="fetchNominatimResult">
      Fetch {{ from.city }}
    </v-btn>
    <ul>
      <li
        v-for="result in results"
        :key="result.osm_id"
        @mouseover="updateLatLon(result)"
        :style="{'margin-bottom': '1rem'}"
      >
        {{result.display_name}}
      </li>
    </ul>
  </v-flex>
  <v-flex xs6 sm7 md8>

    <Map
      :lat="lat"
      :lon="lon"
      :geojson="overpassData"
      @bbox-change="fecthOverpassData"
    />
    </v-flex>
  </v-layout>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
import osmtogeojson from 'osmtogeojson'

import MCAddress from '@/components/MCAddress.vue'
import MCAddressForm from '@/components/MCAddressForm.vue'
import Map from '@/components/Map.vue'
import myStore from '@/store/myStore'
import { getQuery } from '@/helpers/getQuery'
import { fetchNominatimResult } from '@/helpers/nominatim'

const OVERPASS_URL = 'http://overpass-api.de/api/interpreter?'

export default {
  name: 'home',
  components: {
    MCAddress,
    MCAddressForm,
    Map
  },
  data () {
    return myStore
  },
  methods: {
    async fetchNominatimResult () {
      this.results = await fetchNominatimResult(this.from.city)
    },
    async fecthOverpassData (bbox) {
      const response = await axios.get(OVERPASS_URL + getQuery(bbox))
      this.overpassData = osmtogeojson(new DOMParser().parseFromString(response.data, 'text/xml'))
    },
    updateLatLon (result) {
      this.lat = result.lat
      this.lon = result.lon
      this.currentDisplayName = result.display_name
    }
  }
}
</script>
