<template>
  <div>
    <h1>
      Profile
    </h1>
    id : {{ $route.params.id }}<br/>
    {{ id }}<br/>
    user : {{ $route.query.user }}
  </div>
</template>

<script>
export default {
  props: ['id']
}
</script>
