<template>
  <div id="mapid"></div>
</template>

<script>
// bug leaflet with webpack
// cf https://github.com/Leaflet/Leaflet/issues/4968#issuecomment-319569682
// import shadowUrl from 'leaflet/dist/images/marker-shadow.png'
// import iconUrl from '../assets/marker-green.svg'

// import 'leaflet/dist/leaflet.css'
import L from 'leaflet'

// L.Marker.prototype.options.icon = L.icon({
//   iconUrl,
//   shadowUrl,
//   iconSize: [42, 42], // size of the icon
//   iconAnchor: [21, 42], // point of the icon which will correspond to marker's location
//   popupAnchor: [0, -42], // point from which the popup should open relative to the iconAnchor
//   tooltipAnchor: [16, -28],
//   shadowSize: [41, 41],
//   shadowAnchor: [11, 41]
// })

export default {
  props: ['lat', 'lon', 'geojson'],
  mounted () {
    this.mymap =
      L.map('mapid')
        // .setView([51.505, -0.09], 13)
        .setView([this.lat, this.lon], 13)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(this.mymap)
    this.emitBbox()
    this.mymap.on('zoomend moveend', this.emitBbox)
  },
  methods: {
    centerMap () {
      L.marker([this.lat, this.lon])
        .addTo(this.mymap)
      this.mymap.setView([this.lat, this.lon])
    },
    emitBbox () {
      this.$emit('bbox-change', this.mymap.getBounds())
    }
  },
  watch: {
    lat () {
      this.centerMap()
    },
    lon () {
      this.centerMap()
    },
    geojson: {
      deep: true,
      handler (newValue, oldValue) {
        // console.log('new geojson', newValue, oldValue)
        L.geojson(newValue).addTo(this.mymap)
      }
    }
  }
}
</script>

<style>
@import "../../node_modules/leaflet/dist/leaflet.css";

#mapid { height: 100%; }
</style>
